body {
  font-family: Arial, Helvetica, sans-serif;
}

.center {

  margin: auto;
  width: 500px;
}

.inputContainer{
  border-radius: 50px !important;
  background-color: "#000";
}

.imgcontainer {
  text-align: center;
  margin: 10px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
